@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

html {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

.Title{
    text-align: center;
    font-weight: bold;
}

.typography {
    font-size: 16px;
    margin: 6px 0;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6px 0;
}

.addColumn {
    transform: translateY(-3px);
    margin-left: 10px;
    cursor: pointer;
    height: 20px;
}

.deleteImg {
    width: 10px;
    align-items: center;
    margin-right: 5px;
    cursor: pointer;
}

.addImg{
    margin-left: 5px;
    width: 20px;
    align-items: center;
    transform: translateY(5px);
}

.tableWrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

input {
    border: none;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    outline: none;
}

.row, .column{
    border: 1px solid #000000;
    cursor: default;
    font-size: 15px;
    text-align: center;
}


